@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_mg {
  background-color: #cccccc;
  /* Used if the image is unavailable */
  /* You must set a specified height */
  background-position: top;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;

  /* Resize the background image to cover the entire container */
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url(/my-image.png);
}